{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card text-bg-dark h-50 shadow-lg">
  <img src="/static/dining.webp" class="card-img opacity-50" alt"restuarant interior dining tables" style="height: 75vh; object-fit: cover;">
  <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
    <div class="container sm:text-center lg:jumbotron " style="width: 50vw;">
      <p class="display-5">We are a family owned restuarant with deep connections within the community. 
          All ingredients are carefully sourced and curated in the most natural way.
          Our dishes will take you on a journey to differents countries around the world.  
      </p>
    </div>
  </div>
</div>
{% endblock content %}