<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Menu</title>
</head>
<body>
    <h1>Restaurant Menu</h1>
    <br>
    {% for meal in meals %}
        <h1>{{ meal.1 }}</h1>
        <br>
        {% for row in item_list %}
            {% if row.category == meal.0 %}
                {% if row.status == 0 %}
                    <h2><del>{{ row.meal }}</del>&nbsp<i>unavailable</i></h2>
                    <h3>{{ row.description }}</h3>
                     <p>price: {{ row.price }}</p>
                    <br>
                {% else %}
                    <h2>{{ row.meal }}</h2>
                    <h3>{{ row.description }}</h3>
                     <p>price: {{ row.price }}</p>
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</body>
</html>